[package]
authors = ["Stef Korporaal <stefkorporaal@gmail.com>"]
default-run = "tfmt"
description = "Renames audio files according to their tags."
edition = "2021"
license = "BSD-3-Clause"
name = "tfmttools"
version = "0.3.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# [features]
# default = ["history"]

[dependencies]
buffered-iterator = {path = "./buffered-iterator"}
file-history = {path = "./file-history"}
tfmt = {path = "./tfmt"}

anyhow = "1.0"
clap = {version = "3", features = ["derive", "wrap_help"]}
dirs = "4.0"
dunce = "1.0.2"
id3 = "1.0.2"
lewton = "0.10"
# dirs = "3.0.2"
# indicatif = {version = "0.16.2"}
# once_cell = "1.8.0"
# rayon = "1.5"
# regex = "1"
# thiserror = "1.0"
# unicode-segmentation = "1.8"

[dev-dependencies]
tempfile = "3"

[workspace]
members = [
  "./buffered-iterator",
  "./file-history",
  "./test-harness",
  "./tfmt",
]

[profile.release]
panic = "abort"
