[package]
name = "tfmttools"
version = "0.1.0"
authors = ["Stef Korporaal <stefkorporaal@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "ttf_rs"
path = "src/bin/main.rs"

[dependencies]
anyhow = "1.0"
bimap = "0.4"
chrono = "0.4"
clap = {version = "~2.33.0", features = ["yaml"]}
dirs = "3.0.1"
fern = "0.6"
lazy_static = "1.4"
log = "0.4"
unicode-segmentation = "1.6"
