[package]
name = "tfmttools"
version = "0.3.0"
authors = ["Stef Korporaal <stefkorporaal@gmail.com>"]
description = "Renames audio files according to their tags."
edition = "2021"
license = "BSD-3-Clause"
default-run = "tfmt"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# [features]
# default = ["history"]

[dependencies]
buffered-iterator = { path = "./buffered-iterator" }
file-history = { path = "./file-history" }

anyhow = "1.0"
clap = {version = "2", features = ["yaml"]}
chrono = "0.4"
# colored = "2"
dirs = "3.0.2"
dunce = "1.0.2"
fern = "0.6.0"
id3 = "0.6.4"
indicatif = {version = "0.16.2"}
lewton = "0.10.2"
log = "0.4"
once_cell = "1.8.0"
# rayon = "1.5"
regex = "1"
thiserror = "1.0"
unicode-segmentation = "1.8"

[dev-dependencies]
tempfile = "3"

[workspace]
members = [
    "./buffered-iterator",
    "./file-history",
    "./test-harness"
]

[profile.release]
panic = "abort"

