[package]
name = "tfmttools"
version = "0.1.0"
authors = ["Stef Korporaal <stefkorporaal@gmail.com>"]
edition = "2018"
license = "BSD-3-Clause AND MIT AND Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "tfmttools"
path = "src/bin/main.rs"

[features]
default = ["rayon"]

[dependencies]
anyhow = "1.0"
bimap = "0.6.1"
clap = {version = "2", features = ["yaml"]}
chrono = "0.4"
# colored = "2"
dirs = "3.0.2"
fern = "0.6.0"
id3 = "0.6.4"
lewton = "0.10.2"
log = "0.4"
once_cell = "1.8.0"
rayon = {version = "1.5", optional = true}
regex = "1"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
thiserror = "1.0"
unicode-segmentation = "1.8"

[dev-dependencies]
maplit = "1.0.2"
tempfile = "3"
