[package]
name = "tfmttools"
version = "0.1.0"
authors = ["Stef Korporaal <stefkorporaal@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "tfmttools"
path = "src/bin/main.rs"

[dependencies]
anyhow = "1.0"
bimap = "0.6.1"
clap = {version = "2", features = ["yaml"]}
# dirs = "3.0.2"
fern = "0.6"
id3 = "0.6.4"
lazy_static = "1.4.0"
lewton = "0.10.2"
log = "0.4"
regex = "1"
thiserror = "1.0"
unicode-segmentation = "1.8"

[dev-dependencies]
maplit = "1.0.2"
